@font-face {
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 400;
  src:
    url('//yastatic.net/islands/_/PyVcRbwHetz0gOVWLonWH7Od8zM.woff2') format('woff2'),
    url('//yastatic.net/islands/_/bIx8jOfCEfR-mECoDUEZywDBuHA.woff') format('woff');
}

@font-face {
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 500;
  src:
    url('//yastatic.net/islands/_/7_GKBdKFbUPzKlghJRv55xgz0FQ.woff2') format('woff2'),
    url('//yastatic.net/islands/_/SmqPmIMEXrW4lOY8QrhTUVDbrro.woff') format('woff');
}

@font-face {
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 700;
  src:
    url('//yastatic.net/islands/_/6Roy0LCd05cK4nNCipgzheYcNVU.woff2') format('woff2'),
    url('//yastatic.net/islands/_/KtHQR1erf3spayoIM4M4ngg0e2E.woff') format('woff');
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

.App {
  background-color: white;
  display: flex;
  flex-direction: column;
  font-family: 'YS Text', sans-serif;
  font-size: 13px;
  height: 100%;
  margin: 0;
}

.App-Main {
  flex: 1;
}

.App-Menu {
  margin-left: auto;
}

.Button {
  align-items: center;
  appearance: none;
  background: transparent;
  background-color: #E6E6E6;
  border: none;
  border: 2px solid transparent;
  border-radius: 4px;
  color: inherit;
  cursor: pointer;
  display: inline-flex;
  font: inherit;
  font-size: 13px;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  justify-content: center;
  line-height: normal;
  margin: 0;
  min-height: 36px;
  outline: none;
  overflow: visible;
  padding: 0;
  padding: 0 18px;
  width: auto;
}

.Button:active {
  background-color: #D9D9D9;
}

.Button:focus {
  border-color: #B3B3B3;
}

.Button_primary {
  background-color: #FFCC00;
}

.Button_primary:active {
  background-color: #F2C200;
}

.Button_primary:focus {
  border-color: #B38F00;
}

.Button_icon {
  min-height: 28px;
  padding: 0 6px;
}

.Button_iconText {
  min-height: 28px;
  padding: 0 8px;
}

.Button-Text {
  margin: 0 5px;
}

.BuildHistory-List {
  list-style: none;
  margin: 0;
  padding: 0;
}

.BuildHistory-Item {
  margin-top: 8px;
}

.BuildHistory-ShowMoreButton {
  margin-bottom: 16px;
  margin-top: 8px;
  width: 100%;
}

@media (min-width: 1024px) {
  .BuildHistory-ShowMoreButton {
    width: initial;
  }
}

.Build {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 1px 1px rgba(67, 68, 69, 0.3), 0 0 1px rgba(67, 68, 69, 0.3);
  color: inherit;
  display: flex;
  padding: 16px 12px;
  text-decoration: none;
}

.Build:hover {
  box-shadow: 0 2px 8px rgba(67, 68, 69, 0.3), 0 0 1px rgba(67, 68, 69, 0.3);
}

.Build_status_success .Build-Number {
  color: #00B341;
}

.Build_status_success .Build-StatusIcon_success {
  display: initial;
}

.Build_status_fail .Build-Number {
  color: #FF3333;
}

.Build_status_fail .Build-StatusIcon_fail {
  display: initial;
}

.Build_status_running .Build-Number {
  color: #FF9A00;
}

.Build_status_running .Build-StatusIcon_running {
  display: initial;
}

@media (min-width: 1024px) {
  .Build_isOpen .Build-Info {
    display: block;
    overflow: visible;
  }

  .Build_isOpen .Build-CommitMessage {
    text-overflow: unset;
    white-space: normal;
  }

  .Build_isOpen .Build-HeaderFirst {
    align-items: flex-start;
  }

  .Build_isOpen .Build-Number {
    line-height: 20px;
  }

  .Build_isOpen .Build-Times {
    align-items: center;
    border-top: 1px solid #F0F2F3;
    color: #595959;
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    padding-top: 8px;
  }

  .Build_isOpen .Build-Duration {
    margin-left: 8px;
    margin-top: 0;
  }
}

.Build-StatusIcon {
  display: none;
}

@media (min-width: 1024px) {
  .Build-StatusIcon {
    height: 24px;
    width: 24px;
  }
}

.Build-Info {
  flex: 1;
  margin-left: 9px;
  overflow: hidden;
}

@media (min-width: 1024px) {
  .Build-Info {
    display: flex;
  }
}

.Build-Header {
  flex: 1;
  overflow: hidden;
}

@media (min-width: 1024px) {
  .Build-HeaderFirst {
    align-items: center;
    display: flex;
  }
}

@media (min-width: 1024px) {
  .Build-HeaderSecond {
    align-items: center;
    display: flex;
  }

  .Build-HeaderSecond .Build-Author {
    margin-left: 10px;
  }
}

.Build-Number {
  font-size: 16px;
  line-height: 16px;
}

.Build-CommitMessage {
  font-size: 15px;
  line-height: 20px;
  margin-top: 8px;
}

@media (min-width: 1024px) {
  .Build-CommitMessage {
    margin-left: 4px;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.Build-Commit {
  align-items: center;
  display: flex;
  margin-top: 8px;
}

.Build-CommitHash {
  color: #595959;
  margin-left: 4px;
}

.Build-CommitBranch {
  align-items: center;
  display: flex;
}

.Build-CommitBranchName {
  margin-left: 4px;
}

.Build-Author {
  align-items: center;
  display: flex;
  margin-top: 8px;
}

.Build-AuthorName {
  margin-left: 4px;
}

.Build-Times {
  align-items: center;
  border-top: 1px solid #F0F2F3;
  color: #595959;
  display: flex;
  margin-top: 8px;
  padding-top: 8px;
}

@media (min-width: 1024px) {
  .Build-Times {
    align-items: flex-start;
    border-top: initial;
    flex-direction: column;
    margin-top: initial;
    padding-top: initial;
    white-space: nowrap;
  }
}

.Build-Duration {
  align-items: center;
  display: flex;
  margin-left: 8px;
}

@media (min-width: 1024px) {
  .Build-Duration {
    margin-left: 0;
    margin-top: 12px;
  }
}

.Build-DateTime {
  align-items: center;
  display: flex;
}

.Build-DateTimeText {
  margin-left: 4px;
}

.Build-DurationText {
  margin-left: 4px;
}

.ConfigurePlug {
  align-items: center;
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
}

.ConfigurePlug-Container {
  max-width: 264px;
  text-align: center;
}

.ConfigurePlug-Icon {
  fill: #E6E6E6;
}

.ConfigurePlug-Message {
  line-height: 1.25;
  margin-top: 32px;
}

.ConfigurePlug-Buttons {
  margin-top: 24px;
}

.Container {
  margin: 0 auto;
  max-width: 824px;
  padding: 0 16px;
  width: 100%;
}

@media (min-width: 992px) {
  .Container {
    padding: 0;
  }
}

.Footer {
  background-color: #F0F2F3;
  padding: 12px 0;
}

@media (min-width: 1024px) {
  .Footer {
    padding: 8px 0;
  }
}

.Footer-Menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Footer-MenuItem {
  line-height: 16px;
  margin-left: 12px;
}

.Footer-MenuItem:first-child {
  margin-left: 0;
}

.Footer-Copyright {
  color: #7F8285;
  line-height: 18px;
  margin-top: 8px;
}

@media (min-width: 1024px) {
  .Footer-Copyright {
    margin-left: auto;
    margin-top: 0;
  }
}

.Footer-Container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .Footer-Container {
    align-items: center;
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .Form {
    max-width: 474px;
  }
}

.Form-Group {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
}

.Form-Group:first-child {
  margin-top: 0;
}

.Form-Group_horizontal {
  align-items: center;
  flex-direction: row;
  margin-top: 16px;
}

.Form-Group_horizontal .Form-InputField {
  flex: 0;
  margin-left: 9px;
  min-width: 52px;
  text-align: right;
}

@media (min-width: 1024px) {
  .Form-Group_horizontal {
    margin-top: 20px;
  }
}

.Form-Group_buttons {
  margin-top: 20px;
}

.Form-Group_buttons > .Button {
  margin-top: 12px;
}

.Form-Group_buttons > .Button:first-child {
  margin-top: 0;
}

@media (min-width: 1024px) {
  .Form-Group_buttons {
    flex-direction: row;
    margin-top: 24px;
  }

  .Form-Group_buttons > .Button {
    margin-left: 8px;
    margin-top: 0;
  }

  .Form-Group_buttons > .Button:first-child {
    margin-left: 0;
    margin-top: 0;
  }
}

.Form-InputUnit {
  margin-left: 8px;
}

.Form-Label {
  line-height: 18px;
}

.Form-Label_required::after {
  content: ' *';
}

.Form-Input {
  margin-top: 6px;
  position: relative;
}

.Form-Input > .Form-InputField {
  width: 100%;
}

.Form-Input_filled .Form-ClearInput {
  display: initial;
}

.Form-Input_filled .Form-InputField {
  padding-right: 28px;
}

.Form-Input_focused .Form-InputField {
  border-color: #B3B3B3;
}

.Form-InputField {
  border: 2px solid #D9D9D9;
  border-radius: 4px;
  font-size: 13px;
  height: 36px;
  line-height: 16px;
  outline: none;
  padding: 10px 12px 10px 11px;
}

.Form-InputField:focus {
  border-color: #B3B3B3;
}

.Form-InputField::placeholder {
  color: #CCCCCC;
}

.Form-ClearInput {
  cursor: pointer;
  display: none;
  margin-top: 10px;
  position: absolute;
  right: 10px;
  top: 0;
}

.Header {
  display: flex;
}

.Header-Menu {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-top: 12px;
  padding-left: 8px;
}

.Header-Menu > .Button {
  margin-left: 8px;
  white-space: nowrap;
}

.Header-Menu > .Button:first-child {
  margin-left: 0;
}

.Header-Menu > .Button .Button-Text {
  display: none;
}

@media (min-width: 1024px) {
  .Header-Menu > .Button:nth-last-of-type(n + 2) .Button-Text {
    display: initial;
  }
}

.Link {
  color: #7F8285;
  text-decoration: none;
}

.Link:hover {
  color: #E00000;
}

.LogMessage {
  background-color: #F2F2F2;
  border-radius: 6px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 12px;
  max-width: 824px;
  overflow: auto;
  padding: 8px 12px;
}

.Text_color_light {
  color: #7F8285;
}

.Text_type_h1 {
  font-size: 18px;
  letter-spacing: 0.25px;
  line-height: 22px;
  margin: 12px 0;
}

@media (min-width: 1024px) {
  .Text_type_h1 {
    font-size: 24px;
    line-height: 28px;
    margin: 10px 0;
  }
}

.Text_type_h2 {
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 14px;
}

.Text_type_p {
  line-height: 18px;
  margin-top: 8px;
}

@media (min-width: 1024px) {
  .Text_type_p {
    margin-bottom: 22px;
  }
}
