@use '../mixins' as *;
@use '../sizes' as *;

.BuildHistory-List {
  @include list-reset;

  display: flex;
  flex-direction: column;
}

.BuildHistory-Item {
  margin-top: 8px;
}

.BuildHistory-ShowMoreButton {
  margin-bottom: 16px;
  margin-top: 8px;
  width: 100%;

  @media (min-width: $desktop-width) {
    width: initial;
  }
}
