$gray-alto: #D9D9D9;
$gray-concrete: #F2F2F2;
$gray-mercury: #E6E6E6;
$gray-nobel: #B3B3B3;
$gray-porcelain: #F0F2F3;
$gray-rolling-stone: #7F8285;
$gray-scorpion: #595959;
$gray-silver: #CCCCCC;
$green-jade: #00B341;
$orange-peel: #FF9A00;
$red-orange: #FF3333;
$red: #E00000;
$yellow-amber: #F2C200;
$yellow-pirate-gold: #B38F00;
$yellow-supernova: #FFCC00;
