$text-size-m: 13px;
$text-size-l: 15px;
$text-size-xl: 18px;
$text-size-xxl: 24px;
$text-line-height-s: 16px;
$text-line-height-m: 18px;
$text-line-height-l: 20px;
$text-line-height-xl: 22px;
$text-line-height-xxl: 28px;

$radius-m: 4px;

$container-width: 824px;

$mobile-width: 320px;
$desktop-width: 1024px;
